* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.loading {
  margin: 0 auto;
}

.option {
  border: 1px solid #d0d0d0;
  margin: 10px;
  border-radius: 2px;
}

.option:hover {
  border: 2px solid #55A846;
  cursor: pointer;
}

.chosen {
  border: 3px solid #55A846;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.poll-author {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}

.poll-author img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.menu {
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 3px solid #55A846;
}


.menu, .menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

@media (max-width: 500px) {
  .menu, .menu ul {
    width: 95%;
    flex-direction: column;
  }
}

.menu li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-decoration: none;
}

.dashboard-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.dashboard-toggle button {
  border: none;
  background: transparent;
  font-size: 22px;
}

.dashboard-list {
  font-size: 18px;
  letter-spacing: .4px;
}

.dashboard-list a:hover {
  font-weight: 600;
}

@media (max-width: 500px) {
  .dashboard-card .card-body {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .dashboard-card button {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.add-poll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poll-container {
  width: 60%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}

.question {
  font-size: 30px;
  text-align: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-top: 10px;
}

.user {
  display: flex;
}

.user h1 {
  margin: 0;
  font-size: 30px;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 20px;
}

.user p {
  margin-top: 6px;
  margin-bottom: 6px;
}

@media (max-width: 500px) {
  .poll-container {
    width: 95%;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .user-question-container .card-body {
    width: 95%;
    flex-direction: column;
  }
}

.add-form {
  margin: 0 auto;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0;
  appearance: none;
  margin-bottom: 20px;
}


.label {
  display: block;
  margin-bottom: 0.25em;
  font-size: 20px;
}

.input {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  background-color: white;
  font-size: 18px;
}
.input:focus {
  border-color: gray;
}

.card-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.avatar-container {
  padding-right: 1rem;
}

.avatar-container img {
  width: 124px;
  height: 124px;
}

.information-container {
  border-left: 2px solid #f7f7f7;
  padding-left: 2rem;
  padding-right: 2rem;
}

.user-information-container {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
}

.score-container {
  border-left: 2px solid #f7f7f7;
  padding-left: 2rem;
}

.score-container .card {
  width: 6rem;
}

.score-container .card-body {
  display: flex;
  justify-content: center;
}

.new-question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-question-container input {
  margin: 1rem;
  border-radius: 0.5rem;
}

.question-container {
  border-left: 2px solid #f7f7f7;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-question-container {
  display: flex;
  justify-content: center;
}

.poll-button, .results-button {
  padding-left: 7rem;
  padding-right: 7rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
}

.poll-button {
  background-color: #55A846;
}

.add-button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  background-color: #55A846;
  margin-top: 0.5rem;
}

.logout-button {
  padding-left: 4rem;
  padding-right: 5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: #55A846;
  border: 2px solid #55A846;
  border-radius: 0.25rem;
  background-color: #fff;
}

.logout-button:hover {
  color: #fff;
  background-color: #55A846;
}

.badge {
  width: 48px;
  height: 48px;
  font-size: xx-large;
  display: flex;
  justify-content: center;
}

.gold {
  border-left: 15px solid gold;
}

.silver {
  border-left: 15px solid silver;
}

.bronze {
  border-left: 15px solid #cd7f32;
}

.percentage-span {
  padding-left: 1rem;
  font-weight: bold;
}

.vote-indicator {
  display: flex;
  flex-direction: column;
}

.vote-indicator span {
  color: #55A846;
  font-weight: bolder;
}

.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-card { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sign-in-card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.results-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

@media (max-width: 500px) {
  .leaderboard-card .card-body {
    flex-direction: column;
  }
}

